section.top_area {
    display: flex;
    background-color: skyblue;
}

.top_left {
    flex-basis: 50%;
    display: flex;
}

.location {
    flex-basis: 50%;
    display: flex;
    margin-top: 10px;
    padding-left: 10px;
    color: gray;
}

.location img {
    height: 22px;
    margin-top: 12px;
    padding-right: 10px;
}

.time {
    flex-basis: 50%;
    display: flex;
    margin-top: 10px;
    color: gray;
}

.time img {
    height: 25px;
    margin-top: 12px;
    padding-right: 10px;
}

.top_right {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}

.call_top {
    flex-basis: 70%;
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

.call_top img {
    height: 20px;
    margin-top: 15px;
}


.social_top {flex-basis: 26%;}

.social_top ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.social_top li {
    padding-right: 10px;
}


.social_top img {
    height: 22px;
}
section.nav_bar {
    display: flex;
}

nav.navbar ul {
    list-style: none;
    display: flex;
}

.logo h3 {
    color: blue;
    font-size: 35px;
    padding: 15px 35px;
    margin: 0px;
}

nav.navbar a {font-size: 20px;padding: 15px;text-decoration: none;}

.appointment_btn a {
    display: flex;
    background: royalblue;
    height: 55px;
}

.appointment_btn p {
    font-size: 18px;
    margin-top: 16px;
}

.appointment_btn img {
    height: 25px;
    margin-top: 15px;
    padding-left: 10px;
}

nav.navbar {padding-left: 820px;}

section.main_area {display: flex;}

.main_left {
    flex-basis: 50%;
    background-color: #0463fa;
    color: white;
}

.main_right {flex-basis: 50%;}

.main_num {
    display: flex;
    justify-content: space-evenly;
}

.expert_doctors h3 {
    font-size: 40px;
    margin: 0px;
}

.main_heading {
    font-size: 35px;
    padding: 0px 95px;
    margin-top: 250px;
}

.expert_doctors p {
    font-size: 20px;
    margin-top: 10px;
}

.Medical_Stuff h3 {
    font-size: 40px;
    margin: 0px;
}

.Medical_Stuff p {
    font-size: 20px;
    margin-top: 10px;
}

.Total_Patients h3 {
    font-size: 40px;
    margin: 0px;
}

.Total_Patients p {
    font-size: 20px;
    margin-top: 10px;
}

.main_right img {width: 100%;}

.main_right p {
    font-size: 90px;
    position: absolute;
    text-align: center;
    top: 390px;
    right: 180px;
    color: white;
}

section.about_us_area {
    display: flex;
}

.about_left {
    flex-basis: 50%;
    width: 50%;
}

.about_right {
    flex-basis: 50%;
    width: 50%;
    margin-top: 90px;
}

.first_image img {
    position: relative;
    left: 250px;
    height: 450px;
    margin-top: 105px;
}

.second_image img {
    border: white solid 15px;
    border-radius: 15px;
    position: relative;
    bottom: 160px;
    height: 300px;
    left: 100px;
}

.about_area_heading {
    font-size: 25px;
    color: gray;
    border: gray solid 2px;
    margin-right: 648px;
    border-radius: 20px;
}

.about_area_heading p {
    margin: 0px;
    padding: 0px 20px;
}

.about_heading {
    margin-top: 25px;
    font-size: 28px;
}

.about_content {font-size: 20px;}

.upper_text {
    margin-top: 35px;
}

.lower-text {
    margin-top: 35px;
}

.about_list ul {
    list-style: none;
    font-size: 19px;
    margin-top: 30px;
}

.about_list li {margin-top: 15px;}

a.read_more_btn {
    background-color: #0463fa;
    text-decoration: none;
    padding: 20px 50px;
    color: #ffffff;
    border-radius: 35px;
    font-size: 18px;
}

.abt_btn {
    margin-top: 45px;
}

.services_area_heading {
    text-align: center;
    font-size: 25px;
    color: gray;
    border: gray solid 2px;
    margin: 0px 722px;
    border-radius: 20px;
}

.services_area_heading p {
    margin: 0px;
}

.services_heading h1 {
    text-align: center;
    font-size: 40px;
}

.services_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about_content_items {
    background-color: #eff5ff;
    padding: 39px 47px;
    margin: 20px;
    width: 18%;
}

.service_img {
    width: 65px;
    height: 65px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_img img {
    width: 25px;
    height: 25px;
}

.service_btn {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_btn img {
    width: 20px;
    height: 20px;
}

.time p {
    margin-top: 11px;
}

.about_content_items h3 {
    font-size: 25px;
}

.about_content_items p {
    font-size: 18px;
}

section.features_area {
    display: flex;
    margin-top: 70px;
}

.features_left {
    flex-basis: 50%;
    background-color: #0463fa;
    padding-left: 65px;
    color: white;
}

.features_right {
    flex-basis: 50%;
}

.features_area_heading {
    font-size: 20px;
    color: white;
    border: white solid 1px;
    margin-right: 615px;
    border-radius: 20px;
    /* margin-left: 20px; */
    margin-top: 119px;
}

.features_area_heading h4 {
    margin: 0px 5px;
}

.feature_heading {
    margin-top: 35px;
    font-size: 28px;
    color: white;
}

.features_paragraph {
    padding-right: 78px;
    font-size: 19px;
    color: white;
}

.features_content {
    display: flex;
    flex-wrap: wrap;
}

.features_item_img {
    width: 65px;
    height: 65px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features_item_img img {
    width: 25px;
    height: 25px;
}

.features_item {
    display: flex;
    width: 48%;
    margin-top: 40px;
}

.features_item_content {
    margin-left: 15px;
}

.features_item_content p {
    margin: 0;
    padding: 0px;
    font-size: 17px;
}

.features_item_content h4 {margin: 15px 0px;font-size: 21px;}

.doctors_area_heading {
    text-align: center;
    font-size: 25px;
    color: gray;
    border: gray solid 2px;
    margin: 0px 722px;
    border-radius: 20px;
}

.doctors_area_heading h4 {
    margin: 0px;
}

section.doctors_area {
    margin-top: 75px;
}

.doctors_heading {
    text-align: center;
    font-size: 25px;
}

.doctors_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.doctors_item {
    background-color: #eff5ff;
}

.doctor_img img {
    width: 300px;
    border-radius: 15px;
}

.doctor_info {
    text-align: center;
}

.doctor_info h4 {
    font-size: 21px;
}

.doctor_info p {
    font-size: 16px;
    margin-top: -10px;
}

section.appointment_area {
    display: flex;
    margin-top: 80px;
}

.appointment_left {
    flex-basis: 50%;
    margin-left: 50px;
}

.appointment_form {
    flex-basis: 50%;
    background-color: #eff5ff;
    margin: 0px 20px;
}

.appointment_area_heading {
    font-size: 19px;
    color: gray;
    border: gray solid 2px;
    margin-right: 635px;
    border-radius: 20px;
}

.appointment_area_heading h4 {
    margin: 0px 6px;
    text-transform: capitalize;
}

.appointment_heading {
    font-size: 28px;
}

.appointment_paragraqph {
    font-size: 19px;
    margin-right: 45px;
}

.appointment_img {
    width: 60px;
    height: 60px;
    background: #0463fa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 60px;
}


.appointment_call {
    display: flex;
    background-color: #eff5ff;
    height: 130px;
}

.appointment_mail {
    display: flex;
    background-color: #eff5ff;
    margin-top: 25px;
    height: 130px;
}

.appointment_content {
    margin-right: 59px;
    margin-top: 45px;
}

.appointment_content_text {
    margin-left: 25px;
}

.appointment_content_text p {
    margin-top: 36px;
    font-size: 18px;
    margin-bottom: 10px;
}

.appointment_content_text h4 {
    margin-top: 10px;
    font-size: 21px;
}

.appointment_form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 61px 38px;
}

input[type="text"] {
    width: 290px;
    margin: 15px 0px;
    height: 50px;
    font-size: 16px;
    padding-left: 10px;
}


.appointment_form select {
    width: 304px;
    height: 57px;
    margin: 15px 0px;
    font-size: 16px;
    padding-left: 10px;
}

textarea {
    width: 95%;
    height: 90px;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 7px;
}

.appointment_form button {
    margin-top: 31px;
    width: 98%;
    height: 60px;
    background-color: #0463fa;
    font-size: 17px;
    color: white;
    border-radius: 10px;
}

.appointment_form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 61px 38px;
}

input[type="text"] {
    width: 290px;
    margin: 15px 0px;
    height: 50px;
    font-size: 16px;
    padding-left: 10px;
}

.appointment_form select {
    width: 304px;
    height: 57px;
    margin: 15px 0px;
    font-size: 16px;
    padding-left: 10px;
}

textarea {
    width: 95%;
    height: 90px;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 7px;
}

.appointment_form button {
    margin-top: 31px;
    width: 98%;
    height: 60px;
    background-color: #0463fa;
    font-size: 17px;
    color: white;
    border-radius: 10px;
}

section.testimonial_area {
    margin-top: 70px;
}

.testimonial_area_heading {
    text-align: center;
    font-size: 25px;
    color: gray;
    border: gray solid 2px;
    margin: 0px 713px;
    border-radius: 20px;
}


.testimonial_area_heading h4 {
    margin: 0px;
}

.testimonial_heading {
    text-align: center;
    font-size: 25px;
}

.testimonial_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 750px;
}

.testimonial_img img {
    border: 6px solid #0463fa;
    border-radius: 68px;
    height: 80px;
}

.testimonial_content {
    text-align: center;
    width: 42%;
    padding: 18px;
    background-color: #0463fa;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin: 38px 440px;
}

.testimonial_content h4 {
    margin-top: 20px;
    margin-bottom: 0px;
}

footer {
    background-color: #1b2c51;
}

section.footer {
    padding: 40px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
}

.testimonial_content {
    text-align: center;
    width: 42%;
    padding: 18px;
    background-color: #0463fa;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin: 38px 440px;
}

.testimonial_content h4 {
    margin-top: 20px;
    margin-bottom: 0px;
}

section.footer {
    padding: 40px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
}



footer {
    background-color: #1b2c51;
}

.address_heading {
    font-size: 20px;
}

.address_item ul {list-style: none;padding: 0px;}

.address_item li {
    display: flex;
    margin-top: 15px;
}

.address_item img {
    height: 18px;
}

.address_item p {
    font-size: 17px;
    margin: 0px 15px;
}

.address_social ul {
    list-style: none;
    display: flex;
    padding: 0px;
    justify-content: space-between;
}

.address_social li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px;
}

.address_social img {
    height: 20px;
}

.service h4 {font-size: 20px;}


.service ul {
    list-style: none;
    padding: 0px;
}

.service li {
    font-size: 17px;
    margin-top: 10px;
}


.quick_links h4 {
    font-size: 20px;
}

.quick_links ul {
    list-style: none;
    padding: 0px;
}

.quick_links li {
    font-size: 17px;
    margin-top: 10px;
}

.section h4 {
    font-size: 20px;
}

.section p {
    font-size: 17px;
}

.section input {
    font-size: 17px;
    width: 260px;
    border-radius: 10px;
    height: 50px;
    padding-left: 20px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.section button {
    position: relative;
    right: 92px;
    height: 40px;
    width: 75px;
    border-radius: 10px;
    background-color: #0463fa;
    color: white;
    border: none;
}

section.bottom {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    padding: 14px 60px;
}