section.top_area {
    display: flex;
    background-color: skyblue;
}

.top_left {
    flex-basis: 50%;
    display: flex;
}

.location {
    flex-basis: 50%;
    display: flex;
    margin-top: 10px;
    padding-left: 10px;
    color: gray;
}

.location img {
    height: 22px;
    margin-top: 12px;
    padding-right: 10px;
}

.time {
    flex-basis: 50%;
    display: flex;
    margin-top: 10px;
    color: gray;
}

.time img {
    height: 25px;
    margin-top: 12px;
    padding-right: 10px;
}

.top_right {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}

.call_top {
    flex-basis: 70%;
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

.call_top img {
    height: 20px;
    margin-top: 15px;
}


.social_top {flex-basis: 26%;}

.social_top ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.social_top li {
    padding-right: 10px;
}


.social_top img {
    height: 22px;
}
section.nav_bar {
    display: flex;
}

nav.navbar ul {
    list-style: none;
    display: flex;
}

.logo h3 {
    color: blue;
    font-size: 35px;
    padding: 15px 35px;
    margin: 0px;
}

nav.navbar a {font-size: 20px;padding: 15px;text-decoration: none;}

.appointment_btn a {
    display: flex;
    background: royalblue;
    height: 55px;
}

.appointment_btn p {
    font-size: 18px;
    margin-top: 16px;
}

.appointment_btn img {
    height: 25px;
    margin-top: 15px;
    padding-left: 10px;
}

nav.navbar {padding-left: 820px;}

section.main_area {display: flex;}

.main_left {
    flex-basis: 50%;
    background-color: #0463fa;
    color: white;
}

.main_right {flex-basis: 50%;}

.main_num {
    display: flex;
    justify-content: space-evenly;
}

.expert_doctors h3 {
    font-size: 40px;
    margin: 0px;
}

.main_heading {
    font-size: 35px;
    padding: 0px 95px;
    margin-top: 250px;
}

.expert_doctors p {
    font-size: 20px;
    margin-top: 10px;
}

.Medical_Stuff h3 {
    font-size: 40px;
    margin: 0px;
}

.Medical_Stuff p {
    font-size: 20px;
    margin-top: 10px;
}

.Total_Patients h3 {
    font-size: 40px;
    margin: 0px;
}

.Total_Patients p {
    font-size: 20px;
    margin-top: 10px;
}

.main_right img {width: 100%;}

.main_right p {
    font-size: 90px;
    position: absolute;
    text-align: center;
    top: 390px;
    right: 180px;
    color: white;
}

section.about_us_area {
    display: flex;
}

.about_left {
    flex-basis: 50%;
    width: 50%;
}

.about_right {
    flex-basis: 50%;
    width: 50%;
    margin-top: 90px;
}

.first_image img {
    position: relative;
    left: 250px;
    height: 450px;
    margin-top: 105px;
}

.second_image img {
    border: white solid 15px;
    border-radius: 15px;
    position: relative;
    bottom: 160px;
    height: 300px;
    left: 100px;
}

.about_area_heading {
    font-size: 25px;
    color: gray;
    border: gray solid 2px;
    margin-right: 648px;
    border-radius: 20px;
}

.about_area_heading p {
    margin: 0px;
    padding: 0px 20px;
}

.about_heading {
    margin-top: 25px;
    font-size: 28px;
}

.about_content {font-size: 20px;}

.upper_text {
    margin-top: 35px;
}

.lower-text {
    margin-top: 35px;
}

.about_list ul {
    list-style: none;
    font-size: 19px;
    margin-top: 30px;
}

.about_list li {margin-top: 15px;}

a.read_more_btn {
    background-color: #0463fa;
    text-decoration: none;
    padding: 20px 50px;
    color: #ffffff;
    border-radius: 35px;
    font-size: 18px;
}

.abt_btn {
    margin-top: 45px;
}